.about-header-Facility{
    background: url(../img/WhatsApp7.jpg);
    margin-top: -10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.services{
    /* background-color:#edf0f2; */
    color:#000 !important;
}
.about-header-Facility h2 {
    color: #ffff;
    font-family: Quicksand;
    padding: 150px;
    font-size: 80%;
    visibility: hidden;
    margin:0;
}

.facility-img img{
    height: 464px;
    width: 694px;
    border-radius: 20px;
    margin-left: -80px;
}

.facility-img-2 img
{
    height: 464px;
    width: 504px;
    border-radius: 20px;
    margin-left: -20px;
}

.facility-grid2{
    font-size: 21px;
    color: #000;
    text-align: justify;
    font-family: sans-serif;}