* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #b5fac7;
  }

  .logo
  {
    max-width: 100%;
    height: 80px;
    transition: height 0.3s ease;
  }
  
  .pages {
    color: #316685;
    text-align: center;
    font-size: calc(1.5rem + 2vw);
    /* margin-top: 10%; */
    background-color:#edf0f2;   
  }
  
  .navbar {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* position: fixed; */
    top: 0;
    z-index: 20;
    width: 100%;
    padding: 15px 70px;
    transition: height 0.3s ease;
    /* height: 130px; */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    color: #f5b921;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    max-width: 200px;
    transition: width 0.5s ease;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .dropdown-toggle::after {
    margin-left: 7.1px !important;
  }

    
  li.nav-item {
    padding: 0 5px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
  }
  .nav-links:hover{
    text-decoration: none;
    color: #A6CE38;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  
  /* .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after,
  .nav-item.menu-item-selected:after {
    width: 100%;
    background: #ffdd40;
  } */
  .nav-item.menu-item-selected > a,
  .nav-item.menu-item-selected #dropdown-basic {
    color: #A6CE38;
  }
  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  .dropbtn {
    color: white;
    background-color: transparent; 
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 4px solid #ECAD14 ;
    background: #edf0f2;
    color: #fff;
    /* padding: 10px 40px 30px 0px; */
    width: 240px;
  }
  .dropdown-content
  {
    margin: 0px 10px 0 -70px;
    border-radius: 8px;
  }
  .dropdown-content a {
    color: #000;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: initial;
    text-align: left;
    
  }
  .dropdown-content a:hover {
    color: #000;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: initial;
    text-align: left;
    background: #ECAD14;

    
  }
  .mobile-nav{
    display: none;
  }

  .drop-h5
  {
    border-bottom: 1px solid #fff;
    padding: 10px;
    font-size: 15px;
  }

  .drop-h5:hover{
    color: #ffdd40;
    
  }
  
  .dropdown-content a:hover {color: #0000; color: #ffffff;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .top-icons
  {
    position: fixed;
    right: 2px;
    z-index: 30;
    bottom:150px;
  }
  .top-div{
    padding: 15px;
    background-color: #A6CE38;
    border-radius: 50%;
    transition: 1s;
    border: 3px solid #A6CE38;
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .top-div:hover{
    /* padding: 15px;
    margin: 100px 5px 10px 0;
    background-color: #ffff;
    border-radius: 50%;
    color: #A6CE38; */
    border: 3px solid #fff;
    transform: rotate(40deg);
    color: #ffffff;

  }
  .top-div2{
    padding: 15px;
    margin: 10px 5px 10px 0;
    background-color: #A6CE38;
    border-radius: 50%;
    transition: 1s;
    border: 3px solid #A6CE38;
    width: 60px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .top-div2:hover{
    /* padding: 15px;
    margin: 10px 5px 10px 0;
    background-color: #ffff;
    border-radius: 50%;
    color: #A6CE38; */
    border: 3px solid #fff;
    transform: rotate(40deg);
    color: #ffffff;


  }


  .top-whatsapp{
    font-size: 23px;
    color: #fff;
  }

  .top-whatsapp:hover{
    font-size: 30px;
    color: #fff;
  }

  
  .top-phone{
    font-size: 20px;
    color: #fff;
    
  }

  .top-phone:hover{
    font-size: 25px;
    color: #fff;
    background: #ECAD14;
  }

  #dropdown-basic{
    color: #fff;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
  }
  .dropdown-item:focus, .drop-link:hover{
    background: #ECAD14 !important;
    color: #fff !important;
  }
  .dropdown-menu.show {
    background: #8DD8F8;
    color: #fff;
    /* padding: 10px 40px 30px 0px; */
    width: 240px;

  }

.drop-link{
  text-decoration: none;
  color: #000b0c;
  display: flex;
  align-items: center;
}
.drop-link:hover{
  color: #fff;
  display: flex;

}


  @media screen and (max-width: 960px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      height: 100vh;
      text-align: center;
    padding: 0 39% 0 39%;
    }
  
    .nav-menu.active {
      background: #000b0cd0;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .dropbtn {
      color: white !important;
      background-color: rgb(10 19 20 / 16%)
      ;
      border: none;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
      color:#fff;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
    /* .system-nav{
       display: none;
    } */
    /* .mobile-nav{
      display: block;
   } */
   .mobile-select{
    background-color:#000b0c ;
    color: #fff;
    box-shadow: none;
  }
  }

  @media only screen and (max-width:768.98px) {

    .logo{
      width: 80px;
      height: 50px;
      margin-top: -30px;
    }

    .bar
    {
      font-size: 21px;
      margin-top: -20px;
    }
    
  }
  .navbar.shrink-header {
    height: 80px;
    transition: height 0.3s ease;
    background: rgba(0,0,0,0.8);
    position:fixed;
  }
  .navbar.shrink-header .logo {
    max-width: 100px;
    transition: height 0.3s ease;
    height: 50px;
  }